body {
    font-family: Arial, sans-serif;
    background-color: #f7f6f6;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5px;
}


header {
    height: 60px;
    background-color: #fff;
    text-align: center;

}

.hleft {
    width: 20%;
    padding: 10px;
    float: left;
}

.timg {
    height: 40px;
    float: left;
}

.text {
    float: left;
}

.hmiddle {
    width: 60%;
    float: left;
}

nav ul {
    float: left;
    margin-top: 22px;
    margin-right: 50px;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 50px;
}

nav ul li a {
    color: #333;
    font-size: 12px;
    text-decoration: none;
}


.search-container {
    margin-top: 18px;
    float: right;
    width: 250px;
    position: relative;
}

#search-box {
    padding: 5px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 10px;

    font-size: 12px;
    padding-right: 40px;

}

#search-box:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 3px #007bff50;
}

#search-button {
    position: absolute;
    top: 1px;
    right: 10px;
    padding: 12px;
    border: none;
    cursor: pointer;
    background-image: url('../image/search.png');
    background-position: center center;

    background-repeat: no-repeat;
    /*  */
    background-size: 100%;
}

.hright {
    margin-top: 20px;
    width: 10%;
    float: left;
    margin-left: 50px;
}

/* content */
main {
    height: auto;
    margin-top: 5px;
    width: 100%;
    float: left;
    background-color: #fff;
}

.container {
    width: 80%;
    margin-left: 10%;
}

.left-col {
    align-self: start;
    z-index: 10;
    gap: 20px;
    width: 50%;
    height: auto;
    padding-right: 50px;
    border-right: 1px solid rgba(0, 0, 0, 0.39);
}

@media (max-width: 991px) {
    .left-col {
        flex-wrap: wrap;
    }
}

.right-col {
    margin-top: 14px;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    width: 40%;
    padding: 0 20px;
    float: left;
    border-left: 1px solid rgba(0, 0, 0, 0.39);
}

@media (max-width: 991px) {
    .right-col {
        max-width: 100%;
    }
}

.image-display {
    width: 75%;
    float: left;
}

.image-display img {
    width: 70%;
    height: 400px;
    margin-top: 12%;
}

.image-list {
    width: 25%;
    float: left;
}

.image-list img {
    width: 45%;
    text-align: center;
    margin-left: 30%;
    height: 80px;
}

.product-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media (max-width: 991px) {
    .product-info {
        width: 100%;
    }
}

.label {
    color: #8a8a8a;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 5px;
}

.product-title {
    color: #000;
    margin-top: 1px;
    font-size: 25px;
}

.rating {
    display: flex;
    font-size: 13px;
    color: #000;
    gap: 8px;
    margin-top: 5px;
}

.rating-icon {
    width: 55px;
    height: auto;
}

.review-count {
    display: flex;
    gap: 2px;
}

.review-count-text {
    font-family: 'Inter', sans-serif;
}

.review-number {
    font-family: 'Jost', sans-serif;
}

.price {
    color: #000;
    margin-top: 19px;
    font-size: 20px;
}

.stock-info {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #8a8a8a;
    font-size: 13px;
    margin-top: 30px;
}

.stock-icon {
    width: 17px;
}

.stock-message {
    font-family: 'Inter', sans-serif;
}

.remaining-items {
    color: #666;
    margin-top: 30px;
    font-size: 13px;
    font-family: 'Jost', sans-serif;
}

.stock-bar {
    background-color: #ef2d2d;
    height: 4px;
}

.quantity-label {
    color: #000;
    margin-top: 27px;
    font-size: 13px;
}

.add-to-cart {
    display: flex;
    gap: 50px;
    margin-top: 16px;
    font-size: 13px;
}

.cart-button {
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 5px;
    padding: 5px 30px;
}

@media (max-width: 991px) {
    .cart-button {
        padding: 0 20px;
    }
}

.action-icons {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 25px;
    font-size: 15px;
}

.action-icon {
    display: flex;
    gap: 11px;
    justify-content: center;
    white-space: nowrap;
    padding: 5px 8px;
}

.action-icon img {
    width: 10px;
    height: auto;
}

.action-icon span {
    font-family: 'Jost', sans-serif;
}

.delivery {
    display: flex;
    gap: 7px;
    color: #000;
    margin-top: 40px;
}

.delivery-icon {
    width: 20px;
}

.delivery-details {
    display: flex;
    gap: 2px;
}

.delivery-estimate {
    font-family: 'Volkhov', sans-serif;
    font-weight: 700;
}

.delivery-date {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
}

.shipping-info {
    display: flex;
    gap: 9px;
    font-size: 16px;
    margin-top: 11px;
}

.shipping-icon {
    width: 16px;
}

.shipping-logo {
    width: 95%;
    background-color:#f7f6f6;
    margin-top: 20px;
    text-align: center;
    color: #8a8a8a;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.shipping-logo img {
    margin-top: 20px;
    width: 50%;
}
























/*底部*/
footer {
    float: left;
    /* position:absolute; */
    height: 100px;
    margin-top: 5px;
    width: 100%;
    background-color: #fff;
    bottom: 0px;
}

/* 购物车 */
.cart-popup {
    position: fixed;
    right: 9.5%;
    top: 55px;
    width: 255px;
    background: #fff;
    /* border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0,0,0,0.1); */
    /* padding: 20px; */
    display: none;
    overflow: hidden;
    /* 设置超出父div部分的内容被隐藏 */
}

.cart-header {
    display: flex;
    background-image: url("../image/cart-title.png");
    background-repeat: no-repeat;
    background-color: #f3f3f3;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    height: 50px;
    line-height: 40px;
}

.cart-header div {
    margin: 20px;
    margin-top: 40px;
}

.cart-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 5px;
    margin-bottom: 5px;
}

.cart-item p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-weight: bold;
    font-size: 15px;
}

.item-image {
    margin-right: 10px;
}

.item-image img {
    width: 80px;
    /* Adjust size as needed */
    height: auto;
}

.item-details {
    flex-grow: 1;
}

.quantity-controls {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.quantity{
    display: flex;
    align-items: center;
    margin-top: 10px;
    border: 1px solid #8a8a8a;

}

.quantity-controls button {
    width: 20px;
    height: 30px;
    border: 0px solid #ddd;
    background-color: #fff;
    cursor: pointer;
    font-size: 12px;
}

.quantity-controls input[type="number"] {
    width: 30px;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 12px;
    /* margin: 0 10px; */
}

.cart-footer {
    text-align: center;
    font-size: 14px;
}

.cart-footer a {
    /* height: 28px; */
    padding: 10px;
    margin-left: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
}

.subtotal {
    font-weight: bold;
    margin-left: 100px;
}